* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: url(images/patt.png);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  height: 100px;
  display: flex;
  background-color: rgba(255, 255, 255, 75%);
  align-items: center;
}
.row {
  display: flex;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
}
.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.menu-header {
  display: flex;
}
.menu-header .button-1 {
  width: 25%;
  border-left: 1px solid #2c71b8;
}
.menu-header .button-1:last-child {
  border-right: 1px solid#2c71b8;
}
.menu-header .inf-1 {
  display: flex;
  height: 50px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  color: #2c71b8;
  position: relative;
}
.menu-header .inf-1:hover {
  background-color: #2c71b8;
  color: white;
}
.search-form {
  border: 1px solid #2c71b8;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
input {
  background-color: transparent;
  border: none;
  outline: none;
}
button{
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  height: 30px;
  width: 30px;
  background-color: #2c71b8;
  border: none;
  margin: 5px;
}

.search-button {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  height: 30px;
  width: 30px;
  background-color: #2c71b8;
  border: none;
  margin: 5px;
}
.counter {
  height: 15px;
  width: 15px;
  position: absolute;
  background-color: #2c71b8;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 30px;
  top: -6px;
}
.cart {
  display: flex;
  background-color: white;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  position: relative;
}
.arrow {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 110px;
}
.arrow-1 {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 110px;
  opacity: 0;
}
.arrow-2 {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 230px;
  margin: 0px 0px 0px 0px;
}

.headerButton-2:hover .arrow-1 {
  opacity: 1;
}
.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  width: 285px;
  color: white;
  text-decoration: none;
  padding-left: 15px;
}

.drop-menu {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  background-color: #2c71b8;
  color: white;
  position: absolute;
  font-size: 20px;
  width: 284px;
  height: 315px;
  opacity: 0;
  top: -9999em;
}
.list:hover {
  background-color: white;
  color: #2c71b8;
}
.headerButton-2:hover .drop-menu {
  opacity: 1;
  top: 75px;
}
.menu-header > li:hover > a {
  color: white;
  background-color: #2c71b8;
}
.slider {
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 25%);
}
footer {
  height: 100px;
  display: flex;
  background-color: rgba(255, 255, 255, 75%);
  align-items: center;
  justify-content: center;
  color: #2c71b8;
}
main {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 2337px;
  position: relative;
}
.nav {
  top: 1.4%;
  width: 570px;
  height: 163px;
  border: none;
  display: block;
  margin-left: 0px;
  position: absolute;
  padding: 0px;
  color: rgba(255, 255, 255, 55%);
}
.nav-1 {
  top: 1%;
  position: absolute;
  font-size: 50px;
  color: white;
  padding: 0px;
  display: block;
  margin: 53px 0px 0px -115px;
}
.nav_7 {
  border-bottom: 1px solid rgba(255, 255, 255, 55%);
}
.aside {
  border: 1px solid white;
  width: 270px;
  height: 845px;
  background-color: rgba(255, 255, 255, 55%);
}
.aside-1 {
  border: 1px solid white;
  width: 270px;
  height: 1px;
  border: none;
}
.goods-1 {
  border: 1px solid white;
  width: 270px;
  height: 650px;
}
.goods-2 {
  border: 1px solid white;
  width: 270px;
  height: 650px;
}
.goods-3 {
  border: 1px solid white;
  width: 270px;
  height: 650px;
}
.row-1 {
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  flex-direction: row;
  padding: 0px 0px;
}
.row-2 {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  flex-direction: row;
  padding: 30px;
}
.row-3 {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  flex-direction: row;
  padding: 0px;
  position: relative;
}
.block-1 {
  background-color: rgba(255, 255, 255, 75%);
  width: 268px;
  height: 184px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.load {
  font-size: 30px;
  color: white;
  display: block;
  padding: 40px;
  margin: 0px 0px 0px 275px;
}
.drop_menu_2 {
  border: none;
  height: 165px;
  width: 270px;
  position: absolute;
  display: block;
  margin-left: 900px;
  margin-top: 30px;
}
.drop_menu_list_2 {
  display: flex;
  border: 1px solid white;
  align-items: center;
  position: absolute;
  width: 268px;
  height: 40px;
  margin-top: 50px;
}
.list_2 {
  text-decoration: none;
  font-size: 15px;
  color: white;
  margin-left: 0px;
  width: 268px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.list_sort:hover {
  background-color: white;
  color: #2c71b8;
  width: 266px;
}
.drop_menu_2_2 > li:hover > a {
  color: white;
  background-color: #2c71b8;
  width: 268px;
  height: 38px;
}
.drop_menu_list_2:hover .drop_menu_sort {
  visibility: visible;
}
.list_2_text {
  margin: 0px 0px 0px 15px;
  font-size: 20px;
}
.block-text-1 {
  width: 266px;
  height: 463px;
}
.text_1 {
  font-size: 30px;
  color: white;
  margin-left: 15px;
}
.text_2 {
  font-size: 20px;
  color: white;
  font-style: unset;
  margin-left: 15px;
}
.text_3 {
  font-size: 20px;
  color: white;
  margin-left: 15px;
}
.text_4 {
  color: white;
  margin-left: 5px;
  font: caption;
}
.price_1 {
  color: white;
  font-size: 40px;
  margin-left: 85px;
  margin-top: 0px;
}
.price_1_1 {
  color: white;
  font-size: 40px;
  margin-left: 65px;
  margin-top: 0px;
}
.price_2 {
  color: white;
  font-size: 20px;
  display: block;
  margin-left: 95px;
  margin-top: -40px;
}
.price_2_2 {
  color: white;
  font-size: 20px;
  display: block;
  margin-left: 118px;
  margin-top: -40px;
}
.details {
  width: 212px;
  height: 50px;
  margin-left: 30px;
  color: white;
  background-color: #2c71b8;
  border: 1px solid white;
}
.details:hover {
  background-color: rgba(255, 255, 255, 75%);
}
.cart_b-n {
  width: 212px;
  height: 50px;
  margin-left: 30px;
  background-color: #2c71b8;
  border: 1px solid white;
}
.cart_b-n:hover {
  background-color: rgba(255, 255, 255, 75%);
}
.details-btn-text {
  color: white;
  display: block;
  font-size: 20px;
  margin: 6px 23px 6px 6px;
}
.details-btn-text-sub {
  color: white;
  display: block;
  font-size: 20px;
  margin: 6px 55px 6px 6px;
}
.aside-text {
  color: white;
  font-size: 20px;
  margin: 27px 0px 26px 35px;
}
.label-check-1{
  margin: 20px 0px 0px 50px;
  color: white;
  text-align:left;
  display: block;
  position: relative;
}
.label-check-2{
  margin: 20px 0px 0px 50px;
  color: white;
  text-align:left;
  display: block;
  position: relative;
}
.label-check-3{
  margin: 20px 0px 0px 50px;
  color: white;
  text-align:left;
  display: block;
  position: relative;
}
.label-check-4{
  margin: 20px 0px 0px 50px;
  color: white;
  text-align:left;
  display: block;
  position: relative;
}
.label-check-5{
  margin: 20px 0px 0px 50px;
  color: white;
  text-align:left;
  display: block;
  position: relative;
}
.label-check-6{
  margin: 20px 0px 0px 50px;
  color: white;
  text-align:left;
  display: block;
  position: relative;
}
.label-check-7{
  margin: 20px 0px 0px 50px;
  color: white;
  text-align:left;
  display: block;
  position: relative;
}
.label-check-8{
  margin: 20px 0px 0px 50px;
  color: white;
  text-align:left;
  display: block;
  position: relative;
}
.label-check-9{
  margin: 20px 0px 0px 50px;
  color: white;
  text-align:left;
  display: block;
  position: relative;
}
.label-check-10{
  margin: 20px 0px 0px 50px;
  color: white;
  text-align:left;
  display: block;
  position: relative;
}
.label-check-11{
  margin: 20px 0px 0px 50px;
  color: white;
  text-align:left;
  display: block;
  position: relative;
}
.label-check-12{
  margin: 20px 0px 0px 50px;
  color: white;
  text-align:left;
  display: block;
  position: relative;
}
.aside-text-1{
  display: block;
  margin:50px 0px 0px 30px;
  color: white;
}
.aside-text-2{
  display: block;
  margin:70px 0px 0px 30px;
  color: white;
}
.aside-text-3{
  display: block;
  margin:85px 0px 0px 30px;
  color: white;
}
input[type="checkbox"]{
  display: none;
}
input[type="checkbox"]:checked + label::before {
  background-color: white;
}
label::before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  cursor: pointer;
  margin: 1px 0px 0px -20px;
}
.cart_by {
  width: 15px;
  height: 15px;
  margin: 10px 0px 0px -8px;
}
.drop_menu_sort {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  background-color: #2c71b8;
  color: white;
  position: absolute;
  font-size: 20px;
  width: 266px;
  height: 120px;
  visibility: hidden;
  top: 40px;
}
.list_sort {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  width: 285px;
  color: white;
  text-decoration: none;
  padding-left: 15px;
}
.zoom {
  width: 30px;
  height: 30px;
  border: 1px solid#2c71b8;
  position: absolute;
  display: block;
  margin: 10px 0px 0px 226px;
}
.like {
  width: 30px;
  height: 30px;
  border: 1px solid #2c71b8;
  position: absolute;
  display: block;
  margin: 50px 0px 0px 226px;
  background-image: url(images/icon\ \(5\).png);
  background-repeat: no-repeat;
  background-position: center;
}
.img_like {
  display: block;
  margin: 7px 0px 0px 5px;
}
.img_like_2 {
  display: block;
  margin: -17px 0px 0px 5px;
  visibility: hidden;
}
.img_zoom {
  display: block;
  margin: 5px 0px 0px 4px;
}
.img_zoom_2 {
  display: block;
  margin: -20px 0px 0px 4px;
  visibility: hidden;
}
.liked {
  background-color: #2c71b8;
  background-image: url(images/icon\ \(7\).png);
}
.zoom:hover {
  background-color: #2c71b8;
}
.zoom:hover .img_zoom_2 {
  visibility: visible;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-block{
  display: flex;
  width: 280px;
  height: 240px;
  background-color: white;
  padding: 15px;
  text-align: center;
  justify-content: center;
  position: absolute;
  top:44%;
  left: 45.3%;
  right: 0;
  bottom: 0;
  position: relative;
}
.btn-wrap{
  display: flex;
  justify-content: flex-end;
}
.btn-wrap .btn-close{
  cursor: pointer;
}
.form-inp{
  border:1px #2c71b8 solid ;
}
.form-field{
  margin-bottom: 15px;
}
.form-field .form-inp{
  width: 100%;
  height: 30px;
}
.send{
  width: 45px;
  height: 30px;
  position: absolute;
  left: 110px;
  color: white;
}

.show{
  display: block;
}
.hide{
  display: none;
}